/__pycache__
/api/__pycache__
/data/images
/logs
services/__pycache__/query_processing_service.cpython-310.pyc
/services/__pycache__
/tests/__pycache__
/utils/__pycache__
data/avito_agent.db
/frontend_next
